.enableJS {
	width: 22em; 
	position: absolute; 
	left: 50%; 
	margin-left: -11em; 
	color: red; 
	background-color: white; 
	border: 1px solid red; 
	padding: 4px; 
}

.ballot-header {
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 10px;
}

.col-md-4, .col-md-7 {
	border-radius: 25px;
	border: 5px solid #73AD21;
	padding: 20px;
	margin-right: 5px;
}

.voteria-title {
	color: white;
	font-size: 500%;
	font-weight: bold;
	font-family: "comic sans";
}

.titlepanel {
	border-radius: 25px;
	border: 5px solid #73AD21;
	padding: 20px;
	margin-right: 15px;
	background-color: #73AD21;
	margin-left: 10px;
	margin-bottom: 10px;
}

.memopanel {
	font-family: "comic sans";
	padding: 5px;
	padding-top: 25px;
}

.memo-img {
	background-image: url("cafelogo.png");
	width: 37px;
	height: 50px;
	float: right;
	margin-top: -30px;
	margin-right: 55%;
}

.memo1 {
	margin-left: 20px;
	font-size: 150%;
}

.memo2 {
	margin-top: 10px;
	font-size: 150%;
}